.taskContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 6px;
  margin-top: 6px;
  cursor: pointer;
  font-size: 20px;
  opacity: .8;
  user-select: none;
}

.taskContainer input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  left: 0;
  z-index: 1;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 25px; 
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.taskContainer input:checked ~ .checkmark:after {
  display: block;
}

.taskContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #4d41f0;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .3s;
}

.taskContainer:hover input ~ .checkmark {
  background-color: #ccc;
}
.taskContainer:hover {
  opacity: 1;
}

.taskContainer button {
  text-align: right;
  font-size: 100%;
  border: none;
  background: #89abeb;
}

.taskContainer button:hover {
  background: rgb(230, 8, 8);
}
.taskContainer label:hover {
  background: rgb(33, 4, 200);
}

.taskContainer label:focus {
  border-width: 4px;
  outline: 3px dashed #228bec;
} 
.taskContainer button:focus {
  border-width: 4px;
  outline: 3px dashed #228bec;
} 
.taskContainer input[type="checkbox"]:focus {
  border-width: 4px;
  outline: 3px dashed #228bec;
} 

@media (min-width: 400px) {
  .taskContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 6px;
    margin-top: 6px;
    cursor: pointer;
    font-size: 22px;
    opacity: .8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .taskContainer input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    height: 25px; 
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .taskContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  .taskContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #4d41f0;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all .3s;
  }
  
  .taskContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .taskContainer:hover {
    opacity: 1;
  }
  
  .taskContainer button {
    text-align: right;
    font-size: 100%;
    border: none;
    background: #89abeb;
  }
  
  .taskContainer button:hover {
    background: rgb(230, 8, 8);
  }
  .taskContainer label:hover {
    background: rgb(33, 4, 200);
  }
  
  .taskContainer label:focus {
    border-width: 4px;
    outline: 3px dashed #228bec;
  } 
  .taskContainer button:focus {
    border-width: 4px;
    outline: 3px dashed #228bec;
  } 
  .taskContainer input[type="checkbox"]:focus {
    border-width: 4px;
    outline: 3px dashed #228bec;
  }
}