.Form input[type="text"] {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  height: 70px; 
  width: 80%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #ffffff;
  color:#000000;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  border: none;
}

.form {
  display: flexbox;
  flex-direction: column;
  background-color: blueviolet;
}

.Form button[type="submit"] {
  display: inline-block;
  justify-content: center;
  align-content: center;
  color: rgb(67, 19, 228);
  margin: 0 auto;
  background-color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  height: 70px; 
  width: 20%;
  border: none;
}

.Form input[type="text"]:hover {
  background: rgb(124, 230, 186);
  color: black;
}
.Form button[type="submit"]:hover {
  background: rgb(124, 230, 186);
}
  
.Form input[type="text"]:focus {
  border-width: 4px;
  outline: 3px dashed #228bec;
} 
.Form button[type="submit"]:focus {
  border-width: 4px;
  outline: 3px dashed #228bec;
} 

.form {
  display: flexbox;
  background-color: blueviolet;
  margin-bottom: 20px
}